@model IEnumerable<QLKS.Models.CONFIGCOMP>

@{
    Layout = "../Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Thông tin khách sạn";
}

<h2>Thông tin khách sạn</h2>



<table>
    <tr>
        <th>
           Tên khách sạn
        </th>
        <th>
           Địa chỉ
        </th>
        <th>
          Mã số thuế
        </th>
        <th>
            Số tài khoản
        </th>
        <th>
            Số điện thoại 
        </th>
       
        <th>
            Số tầng
        </th>
       
        <th>Vị trí</th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.FloorNo)
        </td>
      
        <td>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.960912935413!2d105.8123983!3d21.0742233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abac42575e31%3A0xf79cf24e644422b!2sL7%20WEST%20LAKE%20HANOI%20BY%20LOTTE!5e0!3m2!1svi!2s!4v1702367586149!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </td>

    </tr>
}

</table>
